---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import '@/styles/global.css'
import Summary from '@/components/Summary.astro';
import TechStack from '@/components/TechStack.astro';
import WorkExperience from '@/components/WorkExperience.astro';
---

<!doctype html>
<html lang="en" class="h-full w-full">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-primary w-full"> 
		<Header />
		<div class="bg-primary-foreground/15">
			<Summary />
		</div>
		<WorkExperience />
		<div class="bg-primary-foreground/15">
			<TechStack />
		</div>
	</body>
</html>

