---
import { Github, Icon, Linkedin, Mail, MapPin } from "lucide-react";
import { Tabs, TabsContent, TabsList, TabsTrigger } from "./ui/tabs";
---

<header class="bg-primary py-8 lg:h-60 h-40 px-4">
	<section class="mx-auto max-w-screen-md flex-col flex h-full justify-end ">
		<div class="grid gap-1 w-full">
			<div class="flex justify-between">
				<h1 class="text-2xl leading-6 font-bold text-primary-foreground">
					Álvaro Pedro Ponce
				</h1>
				<div class="flex gap-2 text-primary-foreground/80 items-center">
					<MapPin size={16} />
					Valencia, Spain
				</div>
			</div>
			<div class="flex gap-2 items-center justify-between">
				<p class="text-md text-primary-foreground/60">
					&#123;"Software Engineer", "Musician", "Powerlifter"&#125;
				</p>
				<div class="flex gap-3 text-primary-foreground/80 items-center">
					<a href="mailto:alvaroponce@gmail.com" target="_blank">
						<Mail size={16} />
					</a>
					<a href="https://github.com/walvarove" target="_blank">
						<Github size={16} />
					</a>
					<a href="https://www.linkedin.com/in/alvaro-pedro-ponce-4152a1132/" target="_blank">
						<Linkedin size={16} />
					</a>
				</div>
			</div>
		</div>
	</section>
</header>
