---
import ReusableSection from "./ReusableSection.astro";
import { getEntry } from "astro:content";

const summary = await getEntry("sections", "summary");
if (!summary) throw new Error("Summary not found");

const { Content } = await summary.render();
---

<ReusableSection>
  <div class="text-primary-foreground grid gap-6 mt-4 pb-6">
    <p class="text-primary-foreground/50">/** @summary</p>
    <Content />
    <p class="text-primary-foreground/50">*/</p>
  </div>
</ReusableSection>

<style></style>
